Flow3_Cactus.json
[{"id":"61e01f18.b171b","type":"comment","z":"23a79b47.65c3a4","name":"Watson Enabled Connected Cactus","info":"","x":144.5,"y":23,"wires":[]},{"id":"cc6a095b.b996a8","type":"http in","z":"23a79b47.65c3a4","name":"","url":"/watsonPlant","method":"post","swaggerDoc":"","x":98.5,"y":92,"wires":[["6a137951.4d53d"]]},{"id":"8f8e5439.7dde28","type":"http response","z":"23a79b47.65c3a4","name":"","x":897.5000610351562,"y":439,"wires":[]},{"id":"f57c0c41.6ebc1","type":"watson-conversation-v1","z":"23a79b47.65c3a4","name":"","workspaceid":"","x":175.49998474121094,"y":273.4000244140625,"wires":[["dbb24d7.266633","7710538c.1826dc"]]},{"id":"6a137951.4d53d","type":"function","z":"23a79b47.65c3a4","name":"Getting request body","func":"var body = msg.payload.Body;\nmsg.topic = msg.payload.From;\nmsg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":142.49998474121094,"y":189.99998474121094,"wires":[["f57c0c41.6ebc1","4eeec997.90e178"]]},{"id":"b68d4ae1.bd1ce8","type":"switch","z":"23a79b47.65c3a4","name":"What is the intent","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"getStatus","vt":"str"},{"t":"eq","v":"getTemp","vt":"str"},{"t":"eq","v":"getMoisture","vt":"str"},{"t":"null"}],"checkall":"true","outputs":4,"x":378.5,"y":446.79998779296875,"wires":[["1328059b.040a82"],["f09d3e5e.b8f0b8"],["ac8e0dd3.4bd4a"],["1328059b.040a82"]]},{"id":"1328059b.040a82","type":"template","z":"23a79b47.65c3a4","name":"Respond to all status","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Current moisture level is at {{payload.percent}}% and temperature is {{payload.temp.f}}F or {{payload.temp.c}}C. Thanks for asking!","x":628.5,"y":353.79998779296875,"wires":[["8f8e5439.7dde28","fddc7c69.2978f"]]},{"id":"f09d3e5e.b8f0b8","type":"template","z":"23a79b47.65c3a4","name":"Respond to temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Current temperature is at {{payload.temp.f}}F or {{payload.temp.c}}C. Thanks for asking!","x":627.5,"y":443.79998779296875,"wires":[["8f8e5439.7dde28","fddc7c69.2978f"]]},{"id":"ac8e0dd3.4bd4a","type":"template","z":"23a79b47.65c3a4","name":"Respond to moisture","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Moisture level is at {{payload.moisture}} or {{payload.percent}}%. Thanks for asking!","x":564.5,"y":530.7999877929688,"wires":[["8f8e5439.7dde28","fddc7c69.2978f"]]},{"id":"dbb24d7.266633","type":"function","z":"23a79b47.65c3a4","name":"pull in global variables","func":"var last = global.get(\"last\");\nvar intents = msg.payload.intents;\nvar temp = global.get(\"temp\");\n\nmsg.payload = {\n    \"temp\" : temp,\n    \"moisture\" : last.moisture,\n    \"percent\" : last.percent,\n    \"timestamp\" : last.timestamp,\n    \"intents\" : intents\n}\nreturn msg;","outputs":1,"noerr":0,"x":283.49998474121094,"y":363.20001220703125,"wires":[["b68d4ae1.bd1ce8"]]},{"id":"b5247a2a.59cfd","type":"comment","z":"23a79b47.65c3a4","name":"Text the cactus at <insert Twilio Number here>","info":"","x":708.5,"y":119.60000610351562,"wires":[]},{"id":"66f3f8f5.3f1b78","type":"comment","z":"23a79b47.65c3a4","name":"Ask questions like \"How are you feeling?\" and \"What is the moisture of the soil?\"","info":"","x":679.5,"y":161.60000610351562,"wires":[]},{"id":"4eeec997.90e178","type":"debug","z":"23a79b47.65c3a4","name":"","active":true,"console":"false","complete":"true","x":332,"y":225.39999389648438,"wires":[]},{"id":"fddc7c69.2978f","type":"debug","z":"23a79b47.65c3a4","name":"","active":false,"console":"false","complete":"false","x":915,"y":358,"wires":[]},{"id":"7710538c.1826dc","type":"debug","z":"23a79b47.65c3a4","name":"","active":true,"console":"false","complete":"false","x":396.5,"y":289,"wires":[]},{"id":"f0debda7.fe79e8","type":"twilio out","z":"23a79b47.65c3a4","service":"","from":"","number":"","name":"","x":901,"y":513,"wires":[]}]
