Flow1_Temp.json
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"437f9777.13c2a8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"thing2","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":85,"y":125.99998474121094,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"437f9777.13c2a8","name":"temp","func":"var c = msg.payload.d.c;\nvar f = msg.payload.d.f;\nmsg.payload = {\n    \"c\" : c,\n    \"f\" : f\n}\nglobal.set(\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":310,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"437f9777.13c2a8","name":"temp thresh","property":"payload.f","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"str"},{"t":"gt","v":"80","vt":"str"}],"checkall":"true","outputs":2,"x":435,"y":125.99998474121094,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"437f9777.13c2a8","name":"Temp message","active":false,"complete":"payload","x":751,"y":337,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"437f9777.13c2a8","name":"device data","active":false,"console":"false","complete":"true","x":98.99998474121094,"y":191.99998474121094,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"437f9777.13c2a8","name":"cold","field":"","fieldType":"msg","syntax":"mustache","template":"Temperature of {{payload.f}}F or {{payload.c}}C is a bit too cold for me.","x":595,"y":105.99998474121094,"wires":[["5dad02b7.a252fc","9f68a838.d93f18"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"437f9777.13c2a8","name":"warm","field":"","fieldType":"msg","syntax":"mustache","template":"Temperature of {{payload.f}}F or {{payload.c}}C is a bit too warm for me.","x":595,"y":145.99998474121094,"wires":[["5dad02b7.a252fc","9f68a838.d93f18"]]},{"id":"7926c7b2.86d938","type":"comment","z":"437f9777.13c2a8","name":"Temperature Monitor","info":"","x":95,"y":25.999984741210938,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"437f9777.13c2a8","name":"Incomming data from device","info":"","x":125,"y":83.99998474121094,"wires":[]},{"id":"ba901e4f.ae579","type":"comment","z":"437f9777.13c2a8","name":"Parsing variables","info":"","x":298.5,"y":361.40000915527344,"wires":[]},{"id":"b4550e80.092d2","type":"comment","z":"437f9777.13c2a8","name":"Determine if temp is too hot or too cold","info":"","x":509.5,"y":52.399993896484375,"wires":[]},{"id":"e353d223.c09b","type":"comment","z":"437f9777.13c2a8","name":"ACTION!!!","info":"","x":811.5,"y":279.8000183105469,"wires":[]},{"id":"9f68a838.d93f18","type":"delay","z":"437f9777.13c2a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":713.5,"y":397.60003662109375,"wires":[[]]},{"id":"f09f3dee.4ed6b8","type":"twilio out","z":"437f9777.13c2a8","service":"","from":"","number":"","name":"","x":876,"y":397,"wires":[]}]
