Flow2_Moisture.json
[{"id":"e8d0b817.a76998","type":"http in","z":"d4d35224.8257d8","name":"","url":"/twilioTest","method":"post","swaggerDoc":"","x":232,"y":579.1999664306641,"wires":[["bc78eb73.d05c88"]]},{"id":"6f1b8f2.fa66e7","type":"http response","z":"d4d35224.8257d8","name":"","x":810.5,"y":654.1999664306641,"wires":[]},{"id":"2b0359d4.e0eb86","type":"debug","z":"d4d35224.8257d8","name":"","active":true,"console":"false","complete":"false","x":818,"y":752.1999664306641,"wires":[]},{"id":"bc78eb73.d05c88","type":"function","z":"d4d35224.8257d8","name":"Get stored variables","func":"msg.topic = msg.payload.From;\nvar temp = global.get(\"temp\");\nvar last = global.get(\"last\");\nmsg.payload = \"The current moisture is \"+last.percent+\"% and temp is \"+temp.f+\"F\";\nreturn msg;","outputs":1,"noerr":0,"x":443.49998474121094,"y":714.1999664306641,"wires":[["2b0359d4.e0eb86","6f1b8f2.fa66e7"]]},{"id":"fcc9f1eb.f43f38","type":"ibmiot in","z":"d4d35224.8257d8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"thing1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":198,"y":175.20001220703125,"wires":[["f9126cd9.56ad8","f6e5fa68.4d6a9"]]},{"id":"f9126cd9.56ad8","type":"function","z":"d4d35224.8257d8","name":"Parse values","func":"var moisture = msg.payload.d.moisture;\nvar percent = msg.payload.d.percent;\nvar date = new Date();\nmsg.payload = {\n \"moisture\": moisture,\n \"percent\": percent,\n \"timestamp\": date\n}\nglobal.set(\"last\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":332.6000213623047,"wires":[["71de91a4.01d87","b61b4151.60132"]]},{"id":"f6e5fa68.4d6a9","type":"debug","z":"d4d35224.8257d8","name":"","active":false,"console":"false","complete":"false","x":240.99998474121094,"y":241.00001525878906,"wires":[]},{"id":"71de91a4.01d87","type":"switch","z":"d4d35224.8257d8","name":"Moisture level","property":"payload.percent","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"str"}],"checkall":"true","outputs":1,"x":675,"y":201.6000518798828,"wires":[["bf623251.28c6"]]},{"id":"bf623251.28c6","type":"template","z":"d4d35224.8257d8","name":"Too Dry","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Moisture level is at {{payload.percent}}%. Water me please!","x":836,"y":201.20005798339844,"wires":[["945a32a2.77f1a8"]]},{"id":"7db59240.575dd4","type":"debug","z":"d4d35224.8257d8","name":"","active":false,"console":"false","complete":"false","x":1079,"y":337.2000274658203,"wires":[]},{"id":"945a32a2.77f1a8","type":"delay","z":"d4d35224.8257d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":859,"y":370.1999969482422,"wires":[["7db59240.575dd4"]]},{"id":"b61b4151.60132","type":"cloudant out","z":"d4d35224.8257d8","name":"Insert Moistures","cloudant":"","database":"moistures","service":"MakerFaireDemos-cloudantNoSQLDB","payonly":true,"operation":"insert","x":532,"y":92.60001373291016,"wires":[]},{"id":"d1b2fada.669808","type":"comment","z":"d4d35224.8257d8","name":"Connected Cactus","info":"","x":238,"y":59.59999084472656,"wires":[]},{"id":"f3a47701.c83fc8","type":"comment","z":"d4d35224.8257d8","name":"Twilio Endpoint","info":"","x":228,"y":493.6000213623047,"wires":[]},{"id":"7e54446c.6ccbbc","type":"comment","z":"d4d35224.8257d8","name":"Incomming Data","info":"","x":229.5,"y":123,"wires":[]},{"id":"913a43f.d8c73c","type":"comment","z":"d4d35224.8257d8","name":"Parse out values","info":"","x":421.49998474121094,"y":373,"wires":[]},{"id":"c6895b04.328fc","type":"comment","z":"d4d35224.8257d8","name":"Store data in database","info":"","x":556.4999847412109,"y":59,"wires":[]},{"id":"642761b2.fd7428","type":"comment","z":"d4d35224.8257d8","name":"Determine if the soil is too dry","info":"","x":747.4999847412109,"y":162,"wires":[]},{"id":"1c284546.c96cf3","type":"comment","z":"d4d35224.8257d8","name":"ACTION!!!","info":"","x":965.5,"y":289.00001525878906,"wires":[]},{"id":"cd972f15.16ba9","type":"comment","z":"d4d35224.8257d8","name":"When Twilio receives a message, this will trigger","info":"","x":328,"y":531.9999542236328,"wires":[]},{"id":"1367fdca.6b39da","type":"comment","z":"d4d35224.8257d8","name":"Respond","info":"","x":800.5,"y":607.9998931884766,"wires":[]},{"id":"cc68deb3.9fefa8","type":"comment","z":"d4d35224.8257d8","name":"This pulls the stored temp and moisture values","info":"","x":435.5,"y":769.9998931884766,"wires":[]},{"id":"8a547837.6447d","type":"inject","z":"d4d35224.8257d8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":227.5,"y":859.1999816894531,"wires":[["86f4a9c.6f1d558"]]},{"id":"86f4a9c.6f1d558","type":"function","z":"d4d35224.8257d8","name":"set first variables","func":"var date = new Date();\nvar last = {\n \"moisture\": 8,\n \"percent\": 0,\n \"timestamp\": date,\n \"temp\" : {\n \"c\" : \"22\",\n \"f\" : \"72\"\n }\n}\nglobal.set(\"last\", last);","outputs":"0","noerr":0,"x":434.49998474121094,"y":870.6000061035156,"wires":[]},{"id":"96ff1721.18351","type":"twilio out","z":"d4d35224.8257d8","service":"","from":"","number":"","name":"","x":1050,"y":390,"wires":[]},{"id":"d8424f70.a70b98","type":"twilio out","z":"d4d35224.8257d8","service":"","from":"","number":"","name":"","x":788,"y":702,"wires":[]}]
