Flow2_Moisture.json
[{"id":"4f76be4e.fd8e2","type":"http in","z":"62e7cae5.6659b4","name":"","url":"/twilioTest","method":"post","swaggerDoc":"","x":89,"y":551.9999694824219,"wires":[["f4943926.9ae698"]]},{"id":"326982b3.a69fbe","type":"http response","z":"62e7cae5.6659b4","name":"","x":667.5,"y":626.9999694824219,"wires":[]},{"id":"b6c3cfd9.e846","type":"debug","z":"62e7cae5.6659b4","name":"","active":true,"console":"false","complete":"false","x":675,"y":724.9999694824219,"wires":[]},{"id":"f4943926.9ae698","type":"function","z":"62e7cae5.6659b4","name":"Get stored variables","func":"msg.topic = msg.payload.From;\nvar temp = global.get(\"temp\");\nvar last = global.get(\"last\");\nmsg.payload = \"The current moisture is \"+last.percent+\"% and temp is \"+temp.f+\"F\";\nreturn msg;","outputs":1,"noerr":0,"x":300.49998474121094,"y":686.9999694824219,"wires":[["b6c3cfd9.e846","326982b3.a69fbe","4494aba1.3e0914"]]},{"id":"4494aba1.3e0914","type":"twilio out","z":"62e7cae5.6659b4","service":"Twilio-y1","twilio":"","from":"+12547813305","number":"","name":"","x":670.5,"y":676.9999694824219,"wires":[]},{"id":"a91d4af.9540338","type":"ibmiot in","z":"62e7cae5.6659b4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"thing1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":55,"y":148.00001525878906,"wires":[["afe51fb8.51b2e8","8962435a.a11218"]]},{"id":"afe51fb8.51b2e8","type":"function","z":"62e7cae5.6659b4","name":"Parse values","func":"var moisture = msg.payload.d.moisture;\nvar percent = msg.payload.d.percent;\nvar date = new Date();\nmsg.payload = {\n    \"moisture\": moisture,\n    \"percent\": percent,\n    \"timestamp\": date\n}\nglobal.set(\"last\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":305.4000244140625,"wires":[["8f87258f.8fc3f","4551f608.a05e18"]]},{"id":"8962435a.a11218","type":"debug","z":"62e7cae5.6659b4","name":"","active":false,"console":"false","complete":"false","x":97.99998474121094,"y":213.80001831054688,"wires":[]},{"id":"8f87258f.8fc3f","type":"switch","z":"62e7cae5.6659b4","name":"Moisture level","property":"payload.percent","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"str"}],"checkall":"true","outputs":1,"x":532,"y":174.40005493164062,"wires":[["7173fc16.dfeb24"]]},{"id":"7173fc16.dfeb24","type":"template","z":"62e7cae5.6659b4","name":"Too Dry","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Moisture level is at {{payload.percent}}%. Water me please!","x":693,"y":174.00006103515625,"wires":[["d269d48d.818d58"]]},{"id":"6fd4362d.d5eb7","type":"debug","z":"62e7cae5.6659b4","name":"","active":false,"console":"false","complete":"false","x":936,"y":310.0000305175781,"wires":[]},{"id":"d269d48d.818d58","type":"delay","z":"62e7cae5.6659b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":716,"y":343,"wires":[["6fd4362d.d5eb7"]]},{"id":"7c179ac0.71f154","type":"twilio out","z":"62e7cae5.6659b4","service":"Twilio-y1","twilio":"","from":"+12547813305","number":"+12542383039","name":"Alert if too dry","x":921.0000610351562,"y":377.199951171875,"wires":[]},{"id":"4551f608.a05e18","type":"cloudant out","z":"62e7cae5.6659b4","name":"Insert Moistures","cloudant":"","database":"moistures","service":"MakerFaireDemos-cloudantNoSQLDB","payonly":true,"operation":"insert","x":389,"y":65.40001678466797,"wires":[]},{"id":"78d4245d.886894","type":"comment","z":"62e7cae5.6659b4","name":"Connected Cactus","info":"","x":95,"y":32.399993896484375,"wires":[]},{"id":"1f4a86ce.b648a9","type":"comment","z":"62e7cae5.6659b4","name":"Twilio Endpoint","info":"","x":85,"y":466.4000244140625,"wires":[]},{"id":"f504849b.69a44","type":"comment","z":"62e7cae5.6659b4","name":"Incomming Data","info":"","x":86.5,"y":95.80000305175781,"wires":[]},{"id":"309acd63.886bb2","type":"comment","z":"62e7cae5.6659b4","name":"Parse out values","info":"","x":278.49998474121094,"y":345.8000030517578,"wires":[]},{"id":"49600a41.cc4a04","type":"comment","z":"62e7cae5.6659b4","name":"Store data in database","info":"","x":413.49998474121094,"y":31.800003051757812,"wires":[]},{"id":"4f88f1b2.0c2d7","type":"comment","z":"62e7cae5.6659b4","name":"Determine if the soil is too dry","info":"","x":604.4999847412109,"y":134.8000030517578,"wires":[]},{"id":"a1165d41.f095d","type":"comment","z":"62e7cae5.6659b4","name":"ACTION!!!","info":"","x":822.5,"y":261.8000183105469,"wires":[]},{"id":"35088c33.52de3c","type":"comment","z":"62e7cae5.6659b4","name":"When Twilio receives a message, this will trigger","info":"","x":185,"y":504.7999572753906,"wires":[]},{"id":"47f795dd.60ad9c","type":"comment","z":"62e7cae5.6659b4","name":"Respond","info":"","x":657.5,"y":580.7998962402344,"wires":[]},{"id":"f6ae9001.f7991","type":"comment","z":"62e7cae5.6659b4","name":"This pulls the stored temp and moisture values","info":"","x":292.5,"y":742.7998962402344,"wires":[]},{"id":"8a8613f5.96a988","type":"inject","z":"62e7cae5.6659b4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":84.5,"y":831.9999847412109,"wires":[["ee2c129.ef8b57"]]},{"id":"ee2c129.ef8b57","type":"function","z":"62e7cae5.6659b4","name":"set first variables","func":"var date = new Date();\nvar last = {\n    \"moisture\": 8,\n    \"percent\": 0,\n    \"timestamp\": date,\n    \"temp\" : {\n        \"c\" : \"22\",\n        \"f\" : \"72\"\n    }\n}\nglobal.set(\"last\", last);","outputs":"0","noerr":0,"x":291.49998474121094,"y":843.4000091552734,"wires":[]}]
